<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <include file="$(find two_wheels_description)/launch/spawn.launch"/>
    <node pkg="teleop_twist_keyboard" name="teleop" type="teleop_twist_keyboard.py"/>

    <node pkg="beginner_tutorials" name="dannyel_talker" type="dannyel_talker" />
    <node pkg="beginner_tutorials" name="gomez_listener" type="gomez_listener" />

</launch>